.singleContainerPerAssignment {
    display: flex;
}

.formContainer {
    width: 700px;
}

.selectSingle {
    width: 400px;
    font-size: 20px;
    transform: translate(150px, 350px);
}

.headerAssignments {
    transform: translate(150px, 350px);
}

.sortScore {
    transform: translateX(200px);
    display: flex;
}

.shiftBook_single {
    transform: translate(200px, 300px);
}

.radio_single_pa {
    transform: translateY(17px);
}

.sortScoreMain {
    transform: translateX(220px);
    width: 200px;
}