.opdrachtenDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.vinkjes {
    list-style-type: none;
}

.maakbold {
    font-weight: bold;
}

.linkklas {
    color: black;
}

.soortscore {
    width: 100px;
}

#hoofdcontainer {
    display: flex
}

.ullijstje {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(32, 1fr);
}