.singleContainerPerAssignment {
    display: flex;
}

.formContainer {
    width: 700px;
}

.selectSingle {
    width: 400px;
    font-size: 20px;
    transform: translate(150px, 350px);
}

.headerAssignments {
    transform: translate(150px, 350px);
}

.sortScore {
    transform: translateX(200px);
    display: flex;
}

.verschuifBoek_enkel {
    transform: translate(200px, 300px);
}

.radio_enkel_pa {
    transform: translateY(17px);
}