$color: purple;
#mainTitle {
    width: 800px;
    margin: auto;
    display: flex;
}

#title_word1 {
    font-size: 30px;
    width: 300px;
    color: $color;
}

#title_word2 {
    font-size: 30px;
    width: 150px;
    color: $color;
}

#title_word3 {
    font-size: 30px;
    width: 80px;
    color: $color;
}

#title_word4 {
    font-size: 30px;
    width: 220px;
    color: $color;
}

.title_spacing {
    width: 50px;
}

.li-nav {
    list-style-type: none;
    font-size: 30px;
}

.link {
    text-decoration: none;
    // transition: color 1000ms ease-in;
}

.link:hover {
    font-weight: bold;
    color: orange;
}

.scorePossibilities {
    display: flex;
    justify-content: space-around;
}