.opdrachtenDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.vinkjes {
    list-style-type: none;
}

.ullijstje {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.maakbold {
    font-weight: bold;
}

.linkklas {
    color: black;
}

.soortscore {
    width: 100px;
}

.regel {
    display: flex;
}

.assignmentPrint {
    width: 175px;
    height: 0.8em;
}

.assignmentInput {
    height: 0.8em;
}

.multipleAssignmentLines {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.headingMultipleAssignments {
    width: 100%;
    text-align: center;
}

.heading {
    display: flex
}

.displayContainers {
    display: flex;
}